html,
button,
input,
select,
textarea {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
}
body { margin:20px 0px; padding:0px; text-align:center; background: #bbb; font-size: 14px; }
.page { 
	margin: 0 auto; 
	padding: 20px 10px 20px 10px; 
	width: 600px; 
	background: #ddd;
	border: 1px solid #fff;
	
}
.textdiv {
	background: #fff;
	margin: 10px 20px 10px 20px;
	padding: 10px;
	border: 1px solid #ccc;
	
	max-width: 540px;
}
#categorizeQuestion ul{
    width:400px;
    margin:0px auto;
	text-align: left;
	list-style: none;
}
#signupFormDiv ul{
    width:400px;
    margin:0px auto;
	text-align: left;
	list-style: none;
}
#previewQuestionInfo { display: none; }
#saveAnswerButton {  }
#buttonCategorizeQuestion_2 { display: none; }

#answerSystemDiv { margin: 0 auto; width: 540px; height: 400px; }
#answerPad { width: 540px; height: 300px; }